<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Html Data</title>
</head>
    <body>
        <div id="dataKeeper">Data</div>
        <ul>
                <li>Осторожно</li>
                <li class=info>Информация</li>
            </ul>
        <ul>
                <li>Осторожно</li>
                <li class=info>Информация</li>
            </ul>
        <ul>
                <li>Осторожно</li>
                <li class="info">Информация</li>
            </ul>
        <div id="footer">Made in Russia &copy;</div>
    </body>
</html>